body{
    font-family: 'lato', 'sans-serif';
    font-size: 14px;
    color: #474747;
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

.container{
    background-color: white;
    border-radius: 4px;
    width: 448px;
    margin: 100px auto 100px auto;
    padding: 50px 100px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 448px;
}

label{
    margin-bottom: 10px;
    color: #000000;
}

input{
    margin-bottom: 10px;
    border: 1px solid #6A7178;
    border-radius: 4px;
    padding: 10px 15px;
}

#recover_pw{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #474747;
}

#btn-login{
    background-color: #EE2427;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

#btn-login:hover{
    background-color: #c00d10;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

#create-account{
    display: flex;
    justify-content: center;
}

#create-account > a{
    text-decoration: none;
    color: #EE2427;
    margin-left: 5px;
}

#create-account > a:hover{
    text-decoration: none;
    color: #c00d10;
    margin-left: 5px;
}

/*registo.html*/
.content-car{
    margin-bottom: 20px;
}

#btn-yes{
    margin-right: 10px;
}

#btn-yes, #btn-no{
    border-style: none;
    border-radius: 4px;
    width: 64px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

#btn-yes:hover, #btn-no:hover{
    border-style: none;
    border-radius: 4px;
    width: 64px;
    padding: 10px 15px;
    background-color: #474747;
    color: white;
    margin-bottom: 20px;
}